{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
{% category_list request %}
<div id="content_block" class="alignleft clearfix">
        <div id="content">
	<div id="page" class="fix">
        <center><h1>О нас</h1></center>
        Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего
        программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.<br><br>
        К сожалению на рынке видеонаблюдения постоянно обманывают клиентов, <strong>наше конкурентное преимущество - честность!</strong><br>
        Покажите нам смету составленную вам другой компанией и в 99 случаев из 100 у нас будет на много дешевле.<br><br>
        <strong>Компания «Цептум»</strong> рада предложить Вам только качественные системы видеонаблюдения.<br>
        У нас имеются, как <strong>готовые комплекты оборудования</strong>, так и отдельные компоненты: <strong>камеры</strong>, <strong>видеорегистраторы</strong>, <strong>муляжи камер</strong> и различные комплектующие.<br><br>
        <strong>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки.</strong>
        Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.<br><br>

        <center><strong>Честны перед вами, как перед собой!</strong></center>

        <h2>Реквизиты:</h2>
        ООО "ПНК"<br>
        ИНН: 7719786354<br>
        КПП: 771901001<br>
        Расчетный счет: 40702810001300004705<br>
        Банк: "БАНК24.РУ"(ОАО), ЕКАТЕРИНБУРГ<br>
        Кор.счет: 30101810600000000859<br>
        БИК: 046577859<br>
	</div>
{% endblock %}