{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}

	{% cart_box request %}
	{% category_list request %}
	<div class="content">
		<div class="breadcrumbs">
			&nbsp;
		</div>
		<div class="cat-btns">
			{% for section in sections %}
	            {% if not section.category_set.all.0.name == section.name %}
					<a href="{{ section.get_absolute_url }}" style="background-size: cover; background: url({{ section.image.url }}) no-repeat center center"><span>{{ section.name }}</span></a>
	            {% else %}
					<a href="{{ section.category_set.all.0.get_absolute_url }}" style="background-size: cover; background: url({{ section.image.url }}) no-repeat center center"><span>{{ section.name }}</span></a>
	            {% endif %}
			{% endfor %}
		</div>
		<h1>Монтаж и установка систем видеонаблюдения в Москве</h1>
		<p>Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.</p>
		<p>К сожалению на рынке видеонаблюдения постоянно обманывают клиентов, наше конкурентное преимущество - честность!<br />Покажите нам смету составленную вам другой компанией и в 99 случаев из 100 у нас будет на много дешевле.</p>
		<p>Компания «Цептум» рада предложить Вам только качественные системы видеонаблюдения.<br />У нас имеются, как готовые комплекты оборудования, так и отдельные компоненты: камеры, видеорегистраторы, муляжи камер и различные комплектующие.</p>
		<p>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки. Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.</p>
		<p>Монтаж видеонаблюдения и установка видеонаблюдения - наш профиль!</p>
		
		{% include "metrika.html" %}
	</div>
{% endblock %}
