{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}

{% cart_box request %}
<div class="nav2">
	<ul>
		{% for section in sections %}
			{% if section.slug == product.category.all.0.section.slug %}
				<li class="active"> <a href="{{ section.get_absolute_url }}" title="">{{ section.name }}</a>
					<ul>
						{% for category in section.category_set.all %}
							<li{% if category.slug == product.category.all.0.slug %} class="active"{% endif %}><a href="{{ category.get_absolute_url }}" title="">{{ category.name }}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% else %}
				<li><a href="{{ section.get_absolute_url }}" title="">{{ section.name }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="search">
		<form id="search" action="/search">
			<input type="text" name="s" placeholder="Введите слово для поиска..." class="inp" />
			<span class="btn" onclick="document.getElementById('search').submit"></span>
		</form>
	</div>
	<i class="u"></i>
</div>	
<div class="content">
	<div class="breadcrumbs br-blog">
		<a href="/">fewline.ru</a> »&nbsp;
		{% if product.category.all.0.section.slug == product.category.all.0.slug %}
			<a href="/cats/{{ product.category.all.0.section.slug }}">{{ product.category.all.0.section }}</a> »&nbsp;
		{% else %}
			<a href="/section/{{ product.category.all.0.section.slug }}">{{ product.category.all.0.section }}</a> »&nbsp;
			<a href="/cats/{{ product.category.all.0.slug }}">{{ product.category.all.0 }}</a> »&nbsp;
		{% endif %}
		{{ product }}
	</div>

	<div class="tov">
		<h1>{{ page_title }}</h1>
		<span class="art">&nbsp;</span>
		<div class="img">
			<div class="bg">
				<div class="t">
					<div>
						{% if product.productphoto_set.all.0.image.url %}
							<img src="{{ product.productphoto_set.all.0.image.url }}" alt="{{ page_title }}" />
						{% else %}
									Фото товара отсутствует
						{% endif %}
					</div>
				</div>
			</div>
			<span class="mask"></span>
		</div>
		<div class="price">
			<span>{{ product.price }} руб.</span>
		</div>
		<div class="txt">
			{{ product.mini_html_description|safe }}
			
			{% if product.html_description %}
				{{ product.html_description|safe }}
				<div class="clr"></div>
				{% if product.tech_details %}<h3>Технические характеристики:</h3>{{ product.tech_details|safe }}<div class="clr"></div>{% endif %}
			{% endif %}
			
		</div>
		<div class="form_bott">
			{% if product.in_stock %}
				<form method="post" action=""> {% csrf_token %}
					<input type="hidden" name="product_slug" value="{{ product.slug }}" id="{{ product.id }}" />
					<input type='image' src='{{ STATIC_URL }}res2/img/btn-buy.jpg' class="btn" name='submit' value="Купить" />
				</form>
			{% else %}
				<p>&nbsp;<br /><strong><em><span style="color: #ff0000">К сожалению данная модель закончилась, но вы можете сделать предзаказ по телефону.</span></em></strong></p>
			{% endif %}
		</div>
	</div>
	
{% include "metrika.html" %}
</div>
{% endblock %}