{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
<div id="sidebar" class="alignleft">
	{% cart_box request %}
	<div id="menu_block">
		<i class="top_corn"></i>
		<i class="bot_corn"></i>
		<ul class="menu_sidebar">
        {% for section in sections %}
   				{% if not section.category_set.all.0.name == section.name %}
   						{% if section.slug == product.category.all.0.section.slug %}
                            <li class="active"> <span>{{ section.name }}</span>
                        {% else %}
                            <li> <a href="{{ section.get_absolute_url }}" title="">{{ section.name }}</a>
                        {% endif %}
   						<ul>
                    {% for category in section.category_set.all %}
                         {% if category.slug == product.category.all.0.slug %}
                            <li class="active"><span>{{ category.name }}</span></li>
                         {% else %}
                            <li><a href="{{ category.get_absolute_url }}" title="">{{ category.name }}</a></li>
                         {% endif %}
                    {% endfor %}
       					</ul>
				{% else %}
                    {% if section.slug == product.category.all.0.section.slug %}
                        <li class="active"> <span>{{ section.category_set.all.0.name }}</span></li>
                    {% else %}
                        <li> <a href="{{ section.category_set.all.0.get_absolute_url }}" title="">{{ section.category_set.all.0.name }}</a></li>
                    {% endif %}
			    {% endif %}
            {% endfor %}
		</ul>
	</div>
	<div id="sub_slider">
		<form id="search" action="#">
			<input id="s" type="text" onfocus="if(this.value=='Введите слово') this.value='';" onblur="if(this.value=='') this.value='Введите слово';" value="Введите слово" name="s">
			<input class="go" type="submit" value="">
		</form>
	</div>
</div>
<div id="content_block" class="alignleft clearfix">
        <div id="content">
	<div id="Breadcrumbs">
            <a href="/">Главная</a> »&nbsp;
            {% if product.category.all.0.section.slug == product.category.all.0.slug %}
                <a href="/cats/{{ product.category.all.0.section.slug }}">{{ product.category.all.0.section }}</a> »&nbsp;
            {% else %}
                <a href="/section/{{ product.category.all.0.section.slug }}">{{ product.category.all.0.section }}</a> »&nbsp;
                <a href="/cats/{{ product.category.all.0.slug }}">{{ product.category.all.0 }}</a> »&nbsp;
            {% endif %}
            {{ product }}
	</div>
	<h1 id="page_title">{{ page_title }}</h1>
	<div id="tovar">
		<div class="top">
			<div class="left">
				<div class="img_block" style="width:90%; position:relative; min-height: 380px;">
						<i class="corns lt_corn"></i><i class="corns rt_corn"></i><i class="corns lb_corn"></i><i class="corns rb_corn"></i>


				{% if product.productphoto_set.all.0.image.url %}
                                            <img class="main_img_tov" class="marketfull_image" src="{{ product.productphoto_set.all.0.image.url }}" alt="{{ page_title }}" style="width:90%; margin:5%"/>
                        	{% else %}
                                                Фото товара отсутствует
                        {% endif %}
                 </div>
				 
			  
                  {% if product.productphoto_set.all %}
					{% for item in product.productphoto_set.all %}
						<img class="prew_img_tov" src="{{ item.image.url }}" title="{{ page_title }}" alt="{{ page_title }}" width="50px" style="display:inline-block; margin:10px;"/>
					{% endfor %}
				 {% endif %}
				 
              {% for file in product.file_set.all %}
              <div style="text-align:left"><p><a class="download_file" href="{{file.file.url}}" target="_blank">{{ file.name }}</a></p></div>
              {% endfor %}
			  
				<p class="price">
					<strong>{{ product.price }}</strong> руб.
				</p>
				{% if not product.in_stock %}
                                        <p><strong><em><span style="color: #ff0000">К сожалению данная модель закончилась, но вы можете сделать предзаказ по телефону.</span></em></strong></p>
                    {% else %}
				 <form method="post" action="" class="cart"> {% csrf_token %}
      											<input type="hidden" name="product_slug" value="{{ product.slug }}" id="{{ product.id }}" />
      											<input type='image' src='{{ STATIC_URL }}res/img/buy.png' id='product_26_submit_button' class='wpsc_buy_button' name='submit'  value="Купить" />
  				 </form>
  				 {% endif %}
				 
				{% if product.html_description %}
                    {% if product.tech_details %}
  				<div class="bottom">
				  <h3>Технические характеристики:</h3>
		          {{ product.tech_details|safe }}
				</div>
                    {% endif %}
				{% endif %}
			</div>
			<div class="right">
				{{ product.mini_html_description|safe }}<br><br>

				{% if product.html_description %}
                  {{ product.html_description|safe }}
				{% else %}
				  <h3>Технические характеристики:</h3>
		          {{ product.tech_details|safe }}
				{% endif %}
			</div>

		</div>
	</div>
<div class="fb-comments" data-href="ceptum.ru" data-num-posts="10" data-width="500"></div>
    <!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?45"></script>

<script type="text/javascript">
  VK.init({apiId: 2699038, onlyWidgets: true});
</script>

<!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Observer.subscribe('widgets.comments.new_comment', sendComment);
VK.Widgets.Comments("vk_comments", {limit: 10, width: "496", attach: false});

function sendComment(num, last_comment) {
    $.post("/take_vk_comment", {comment: last_comment});
}
</script>
{% endblock %}
