{% load cart_filters  %}
<div id="sidebar" class="alignleft">
    {% cart_box request %}
    <div id="menu_block">
        <i class="top_corn"></i>
        <i class="bot_corn"></i>
        <ul class="menu_sidebar">
            {% for section in sections %}
                <li> <a href="{{ section.get_absolute_url }}" title="">{{ section.name }}</a>
            {% endfor %}
        </ul>
    </div>
    <div id="sub_slider">
        <form id="search" action="/search">
            <input id="s" type="text" onfocus="if(this.value=='Введите слово') this.value='';" onblur="if(this.value=='') this.value='Введите слово';" value="Введите слово" name="s">
            <input class="go" type="submit" value="">
        </form>
    </div>
</div>