{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% load archive %}
{% block site_wrapper %}

	{% cart_box request %}
	{% category_list request %}
	<div class="content">
		<div class="breadcrumbs br-blog">
			<a href="/">fewline.ru</a> » Блог
		</div>

		<div class="col-right">
			<div class="blk">
				<b>Архив</b>
				<ul>{% archive %}</ul>
			</div>
			<div class="blk">
				<b>Категории</b>
				<ul>{% categories %}</ul>
			</div>
		</div>
		<div class="blog">
			<div class="blk bc">
				<div class="top"><span class="date">{{ entry.date }}</span> | <a href="{{ entry.category.all.0.get_absolute_url }}" class="cat">{{ entry.category.all.0.name }}</a></div>
				<h1>{{ entry.title }}</h1>
				{{ entry.entry|safe }}
			</div>
		</div>
		<div class="clr"></div>
			
{% include "metrika.html" %}
</div>
{% endblock %}