{% extends "base.html" %}
{% load catalog_filters %}
{% load cart_filters  %}
{% block site_wrapper %}
{% category_list request %}
<div id="content_block" class="alignleft clearfix">
        <div id="content">
<div id="page" class="fix">

<script type="text/javascript">
$(function(){
  if (window.location.hash == '#doorphone') {
  console.log(window.location.hash);
    $('#case').addClass('select_block');
  }
});
</script>

<center><h1>Установка и монтаж систем видеонаблюдения</h1></center>
Наша команда специализируется на разработке, установке и монтаже систем видеонаблюдения.<br>
<strong>Совершенно бесплатно</strong> мы составим для вас проект с указанием необходимого оборудования и конечной стоимости с монтажом.<br>
Если условия Вас устраивают, Вы делаете заказ.
Для того чтобы вызвать специалиста на осмотр, позвоните +7(495) 565-37-70 или <a href="mailto:info@ceptum.ru">напишите</a> нам.<br><br>

<style>
#pricelist { margin: 0 auto 1em }
#pricelist .descr {
	padding: 10px;
	background: #eee;
	color: #000;
	border-bottom: #fff 5px solid;
	width: 390px;
	vertical-align: middle;
}
#pricelist .price {
	padding: 5px;
	background: #dadada;
	color: #000;
	font-size: 30px;
	font-family: Arial, sans-serif;
	border-bottom: #fff 5px solid;
}
img.ruble-img { height: 1.5ex; }
span.dot { position:absolute; text-indent: -1000em; }
#pricelist-descr { margin:0 auto 2em; color: #333; width: 525px; }
#pricelist-descr li { list-style: none }
</style>
<table id="pricelist">
	<tr>
	  <td class="descr">Монтаж и настройка 1 камеры</td>
	  <td class="price">700 <img src="http://www.artlebedev.ru/tools/technogrette/html/rouble/ruble.gif" class="ruble-img" /><span class="dot">руб.</span></td>
	</tr>
	<tr>
	  <td class="descr">Монтаж и настройка видеорегистратора</td>
	  <td class="price">1500 <img src="http://www.artlebedev.ru/tools/technogrette/html/rouble/ruble.gif" class="ruble-img" /><span class="dot">руб.</span></td>
	</tr>
	<tr>
	  <td class="descr">Подключение видеорегистратора к сети Интернет</td>
	  <td class="price">1500 <img src="http://www.artlebedev.ru/tools/technogrette/html/rouble/ruble.gif" class="ruble-img" /><span class="dot">руб.</span>*</td>
	</tr>
	<tr>
	  <td class="descr">Монтаж кабеля и крепление гофры (за 1 метр)</td>
	  <td class="price">80 <img src="http://www.artlebedev.ru/tools/technogrette/html/rouble/ruble.gif" class="ruble-img" /><span class="dot">руб.</span>**</td>
	</tr>
	<tr>
	  <td class="descr">Укладка кабеля за фальшпотолком (за 1 метр)</td>
	  <td class="price">60 <img src="http://www.artlebedev.ru/tools/technogrette/html/rouble/ruble.gif" class="ruble-img" /><span class="dot">руб.</span></td>
	</tr>
	<tr>
	  <td class="descr">Монтаж и прокладка в тонкий короб до 60мм</td>
	  <td class="price">180 <img src="http://www.artlebedev.ru/tools/technogrette/html/rouble/ruble.gif" class="ruble-img" /><span class="dot">руб.</span></td>
	</tr>
</table>
<ul id="pricelist-descr">
	<li>
		<table><tr>
			<td width="15" align="right" style="font-size:1.3em;padding-right:.3em">*</td>
			<td><small>Цена настройки оборудования включая роутеры, точки доступа и прочего сетевого оборудования.
				<br>Услуга осуществляется только при наличии ВНЕШНЕГО ip-адреса на конечном устройстве.
				<br>Рекомендуем проконсультироваться с Вашим интернет-провайдером.</small></td>
		</tr></table>
	<li>
		<table><tr>
			<td width="15" align="right" style="font-size:1.3em;padding-right:.3em">** </td>
			<td><small>Без стоимости оборудования</small></td>
		</tr></table>
</ul>

<div id="case" style="margin-bottom:1em">
<center><h1>Монтаж домофонов</h1></center>
<p>
  Также мы производим монтаж видеодомофонов. У нас имеется большой выбор <a href="/section/domofony/" target="_blank">оборудования</a>.
  <br>Наши специалисты подберут для вас видеодомофон, сделают качественный монтаж и все это по доступным ценам.
</p>
</div>
<center><h1>Оплата</h1></center>
Оплата осуществляется по безналичному расчету, как для юридических, так и для физических лиц.<br><br>
<center><h1>Доставка</h1></center>
Доставка по Москве в пределах МКАД осуществляется бесплатно курьером.
Стоимость доставки в ближайшее подмосковье 300 рублей.<br><br>
Доставка по регионам России осуществляется курьерской службой "EMS почта России". Стоимость доставки не больше 500 рублей.<br>
Время доставки зависит от вашего региона, от 3х и до 14 дней.<br>
<center><h1>О нас</h1></center>
Мы верим в то, что можно делать бизнес честно, не обманывать на завышенных сметах, продаже ненужного оборудования, несуществующего
программного обеспечения, и мы не выставляем огромные цены за монтаж прикрываясь сложностью настройки оборудования.<br><br>
К сожалению на рынке видеонаблюдения постоянно обманывают клиентов, <strong>наше конкурентное преимущество - честность!</strong><br>
Покажите нам смету составленную вам другой компанией и в 99 случаев из 100 у нас будет на много дешевле.<br><br>
<strong>Компания «Цептум»</strong> рада предложить Вам только качественные системы видеонаблюдения.<br>
У нас имеются, как <strong>готовые комплекты оборудования</strong>, так и отдельные компоненты: <strong>камеры</strong>, <strong>видеорегистраторы</strong>, <strong>муляжи камер</strong> и различные комплектующие.<br><br>
<strong>Наши специалисты установят и настроят все необходимое оборудование в самые кратчайшие сроки.</strong>
Перед монтажом специалист прибудет к Вам для составления проекта с указанием необходимого оборудования и конечной стоимости.<br><br>

<center><strong>Честны перед вами, как перед собой!</strong></center>
</div>
{% endblock %}